/* 
Color Definitions
*/

.alert.alert-info {
  background-color: #c6e0b485 !important;
}

// except this
.search-container .search-bar button {
  width: inherit !important;
}

@mixin shared-colors {
  --blue-tint: #699bf7;
  --coral: #ff8577;
  --golden-yellow: #ffc700;
  --green: #0fa958;
  --community-blue: #236df6;
  --violet: #a259ff;
  --violet-tint: #c7b9ff;
  --violet-alert: rgba(39, 109, 246, 0.1);
  --red: #f24e1e;

  --bg: #ffffff;
  --primary: #222;
  --primary-very-low: #c6e0b485;
  --header_primary: #333;
  --secondary: #ffffff;
  --tertiary-medium: #ffffff;
  --header_background: #ffffff;
  --fg-high-contrast: #000000;
  --fg-medium-contrast: #333333;
  --fg-low-contrast: #5d5d5d; /* previously was 939393 */
  --bold-fg: #ffffff;
  --bold-bg: #1b4721;
  --modal-bg: #ffffff;
  --modal-fg: #333333;
  --surface-high-contrast: #d6d6d6;
  --surface-low-contrast: #f5f5f5;
  --community-blue: #222;
  --danger-medium: #1b4721;
  --red: #c6e0b485;
}

@media (prefers-color-scheme: light) {
  :root {
    @include shared-colors;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include shared-colors;
  }
}

$primary: var(--fg-high-contrast);
$primary-high: var(--fg-medium-contrast);
$primary-medium: var(--fg-low-contrast);
$primary-low-mid: var(--surface-high-contrast);
$primary-low: var(--surface-low-contrast);
$secondary: var(--bg);
$tertiary: var(--community-blue);
$tertiary-low: var(--community-blue);

/* Hardcode specific icons to specific colors */
.d-icon {
  &.d-icon-d-watching {
    color: var(--red) !important;
  }
  &.d-icon-d-tracking {
    color: var(--blue-tint) !important;
  }
  &.d-icon-d-regular {
    color: var(--green) !important;
  }
}
